version: 2.1

orbs:
  # This uses the Orbs located at https://github.com/wordpress-mobile/circleci-orbs
  ios: wordpress-mobile/ios@1.0

parameters:
  app_store_build:
    type: boolean
    default: false

# Reusable sets of steps
commands:
  copy_demo_credentials:
    steps:
      - run:
          name: Copy Demo SPCredentials
          command: |
            mkdir -p Simplenote/Credentials
            cp Simplenote/SPCredentials-demo.swift Simplenote/Credentials/SPCredentials.swift
  setup_environment:
    steps:
      - checkout
      - ios/install-dependencies:
          bundle-install: true
          pod-install: true
      - run:
          # See https://support.circleci.com/hc/en-us/articles/360044709573-Swift-Package-Manager-fails-to-clone-from-private-Git-repositories
          name: Workaround for Swift Package Manager and xcodebuild
          command: |
            rm ~/.ssh/id_rsa
            for ip in $(dig @8.8.8.8 github.com +short); do ssh-keyscan github.com,$ip; ssh-keyscan $ip; done 2>/dev/null >> ~/.ssh/known_hosts || true

jobs:
  Test:
    # This uses a YAML anchor to make the configuration repeatable in the rest
    # of the file.
    executor: &xcode_image
      name: ios/default
      xcode-version: "12.4.0"
    steps:
      - setup_environment
      - copy_demo_credentials
      - run:
          name: Build & Test
          command: bundle exec fastlane test

  Verify App Store Target Builds:
    executor: *xcode_image
    steps:
      - setup_environment
      - copy_demo_credentials
      - run:
          name: Verify App Store Target Builds
          command: bundle exec fastlane test_app_store_build

  App Store Upload:
    executor: *xcode_image
    steps:
      - setup_environment
      - run:
          name: Decrypt Secrets
          command: |
            bundle exec fastlane run configure_apply
      - run:
          name: Build and Upload to App Store and GitHub
          command: |
            bundle exec fastlane build_and_upload_app_store create_github_release:true

workflows:
  simplenote_macos:
    when:
      not: << pipeline.parameters.app_store_build >>
    jobs:
      - Test
      - Verify App Store Target Builds

  app_store:
    when: << pipeline.parameters.app_store_build >>
    jobs:
      - Test
      - App Store Upload:
          requires:
            - Test
