version: 2.1

orbs:
  # This uses the Orbs located at https://github.com/wordpress-mobile/circleci-orbs
  ios: wordpress-mobile/ios@0.0.27

jobs:
  Test:
    executor:
      name: ios/default
      xcode-version: "11.2.1"
    steps:
      - checkout
      - run: rm ~/.ssh/id_rsa
      - run:
          name: Copy Demo SPCredentials
          command: mkdir -p Simplenote/Credentials && cp Simplenote/SPCredentials-demo.swift Simplenote/Credentials/SPCredentials.swift
      - ios/install-dependencies:
          bundle-install: true
          pod-install: true
      - run:
          name: Build
          command: |
            # Build without code signing to avoid missing cert errors
            xcodebuild COMPILER_INDEX_STORE_ENABLE=NO CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO \
                       -workspace 'Simplenote.xcworkspace' \
                       -scheme 'Simplenote' \
                       -configuration 'Debug' \
                       test

workflows:
  simplenote_macos:
    jobs:
      - Test
